<html>

<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css">
  <script src = "{{ STATIC_URL }}jquery-1.11.0.min.js"></script>
  <script>
    $( document ).ready(function(){
     $(".some-info").hide();
     $("h2").css({"color":"#ffffff"});
     $(".some-info").css({"backgroundColor":"black"});
     $("h1").css({"color":"white"});
     $("h1").mouseenter(function(){
      $(".some-info").slideDown();
     });
     $("h1").mouseleave(function(){
      $(".some-info").slideUp();
    });

     $(".header-div").click(function(){
      $(".some-info").animate({height:'toggle'});
      });
     $(".header-div").css({"backgroundColor":"black"});
    });
     $(".title-wrapper").css({"backgroundColor":"blue"})
  </script>
</head> 

<body>
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
  <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
  <div class="header-div">
    <header class="page-header">
      <div class="title-wrapper" style="height:50px; width:100px ">
       <h1> Issues </h1>
      </div>
    </header>
  </div>
  <div class="some-info" style="height:50px; width:300px; position:absolute">
    <h2 > Hey! Hello! Wow! </h2>
  </div>
</body>
</html>
